@import "../../scss/colors";
.landing {
  margin: 20px 0;
  .highlightImage {
    width: 100%;
    min-height: 254px;
    background-image: url("../../assets/highlight-image-m.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .highlightText {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-size: 1.8rem;
      margin: 10px 0;
      font-weight: 400;
      line-height: 41px;
      letter-spacing: 0em;
      text-align: center;
    }
    .buttonAbout {
      background-color: $secondary;
      color: #fff;
      transition: all 0.8s;
      border: solid 1px;
    }
    .buttonAbout:hover {
      background-color: #fff;
      color: $secondary;
      border: solid 1px $secondary;
    }
  }
}

.about {
  margin: 20px 0;
  .image {
    width: 100%;
    .myself {
      width: 100%;
      height: 342px;
      background: url("../../assets/myself-m.png");
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .aboutText {
    display: flex;
    flex-direction: column;
    align-items: center;
    .line {
      width: 100%;
      height: 1px;
      background: $primary;
      margin: 10px 0;
    }
    h2 {
      font-size: 1.5rem;
      margin: 0;
    }
    p {
      font-size: 0.9rem;
    }
    .buttonSecondary {
      border: solid 1px $primary;
      margin: 20px 0;
      transition: all 0.3s;
    }
    .buttonSecondary:hover {
      background-color: $primary;
      color: #fff;
    }
  }
}
.outro {
  display: flex;
  flex-direction: column;
  align-items: center;
  h1 {
    font-size: 1.8rem;
    margin: 10px 0;
    font-weight: 400;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: center;
  }
  .buttonMain {
    background-color: $primary;
    color: #fff;
    margin: 20px 0;
    border: solid 1px;
    transition: all 0.3s;
  }
  .buttonMain:hover {
    background-color: #fff;
    color: $primary;
    border: solid 1px $primary;
  }
}
button {
  background: none;
  border: none;
  border-radius: 5px;
  padding: 1em 1.75em;
}
button:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .landing {
    margin: 0;
    .highlightImage {
      height: 84vh;
      background-image: url("../../assets/highlight-image-l.png");
      position: relative;
    }
    .highlightText {
      h1 {
        text-align: start;
      }
      position: absolute;
      align-items: flex-start;
      background: #fff;
      width: 40%;
      padding: 2em 1em;
      top: 100%;
      transform: translateY(-100%);
    }
  }
  .about {
    display: flex;
    min-height: 90vh;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    .image {
      width: 40%;
    }
    .aboutText {
      height: 100%;
      justify-content: center;
      align-items: flex-start;
      width: 40%;
    }
  }
  .outro {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    h1 {
      width: 40%;
    }
    .line {
      height: 0.5px;
      width: 30%;
      background-color: $primary;
    }
  }
}

@media screen and (min-width: 1024px) {
  .landing {
    .highlightText {
      h1 {
        font-size: 56px;
        line-height: 60px;
      }
    }
  }
  .about {
    .image {
      .myself {
        height: 500px;
        background-image: url("../../assets/myself-l.png");
        background-size: contain;
      }
    }
    .aboutText {
      height: 500px;
      h2 {
        font-size: 2rem;
      }
      p {
        font-size: 1.2rem;
      }
    }
  }
  .outro {
    h1 {
      font-size: 46px;
      line-height: 60px;
    }
  }
  button {
    padding: 1.2em 3.75em;
    font-size: 1rem;
  }
}
