@import "../../scss/colors";
.intro {
  h1 {
    margin-bottom: 5px;
  }
  p {
    margin: 0;
    font-size: 12px;
  }
}
.projectList {
  background-color: #fff;
  box-shadow: 0px 4px 7px 0px #c4c4c44a;
  padding: 1em;
  margin: 20px 0;
  p {
    font-size: 12px;
  }
  .project {
    display: flex;
    justify-content: space-between;
    padding: 1em 0.5em;
    border-bottom: solid 0.23px $secondary;
    .highlightImg {
      width: 45%;
      background-color: #c4c4c44a;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .textContent {
      width: 50%;
      display: flex;
      flex-direction: column;
    }
    .titles {
      h2 {
        margin: 0;
      }
      p {
        margin: 0;
        font-size: 10px;
      }
    }
    ul {
      list-style: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      li {
        font-size: 9px;
        border: solid 1px $secondary;
        padding: 0.5em 1em;
        width: fit-content;
        border-radius: 27px;
        margin-right: 5px;
      }
    }
    .readMore {
      align-self: flex-start;
      background-color: $primary;
      color: #fff;
      padding: 0.75em 1em;
    }
  }
}
