@import "../scss/colors";

//for the nav component
.nav {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  align-items: center;
  box-shadow: 0px 4px 7px 0px #c4c4c44a;

  .logo {
    width: 110px;
    height: 35px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../assets/logo-mobile.svg");
  }
  .menu {
    width: 29px;
    height: 25px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../assets/menu-mobile.svg");
  }
  ul {
    display: none;
    list-style: none;
    padding: 0;
  }
  .activeLink {
    font-weight: 700;
    border-bottom: solid 3px $primary;
  }
}

//for content in layout
.content {
  padding: 1em;
  scroll-snap-type: y mandatory;
}

@media screen and (min-width: 768px) {
  .content {
    margin-top: 50px;
    padding: 2em;
  }
  .nav {
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.959);
    z-index: 10;
    //margin-bottom: 1000000000px;
    .menu {
      display: none;
    }
    .logo {
      background-image: url("../assets/logo-desktop.svg");
      width: 142px;
      height: 50px;
    }
    ul {
      display: flex;
      width: 50%;
      justify-content: space-evenly;
      .cta {
        background: $primary;
        padding: 0.75em 1.75em;
        border-radius: 10px;
        color: white;
        border: solid 1px rgba(255, 255, 255, 0);
        transition: all 0.3s;
      }
      .cta:hover {
        border-bottom: none;
        background: #fff;
        color: $primary;
        border: solid 1px $primary;
      }
      li {
        a {
          text-decoration: none;
          color: inherit;
          transition: all 0.1s;
        }
        a:hover {
          cursor: pointer;
          color: $secondary;
          border-bottom: solid 3px $secondary;
        }
      }
    }
  }
}
